<!DOCTYPE html>
<html>
    <head>
        <title>Izzy's Blog</title>
        <style type="text/css">
            .error {
                color: red;
            }

            .post-title {
              text-decoration: underline;
            }

            .post-datetime {
              color: grey;
              font-style: italic;
              font-size: 8pt;
            }
        </style>
    </head>
    <body>
        <nav>
          <a href="/blog">Home</a>
          &nbsp;&nbsp; | &nbsp;&nbsp;
          <a href="/new-post">New Post</a>
        </nav>
        <h1>
            <a>Izzy's Blog</a>
        </h1>

        {% block content %}
        {% endblock %}

    </body>
</html>
